<div class="giscus"></div>

<script>
  const script = document.createElement("script");
  script.src = "https://giscus.app";
  script.setAttribute("data-repo", "filosofish/myblog"); // Ganti dengan repo Anda
  script.setAttribute("data-repo-id", "R_kgDOS_Xf6A"); // Dapatkan dari situs giscus.app
  script.setAttribute("data-category", "General");
  script.setAttribute("data-category-id", "DIC_kwDOS_Xf6M4C_m9w"); // Dapatkan dari situs giscus.app
  script.setAttribute("data-mapping", "pathname");
  script.setAttribute("data-strict", "0");
  script.setAttribute("data-reactions-enabled", "1");
  script.setAttribute("data-emit-metadata", "0");
  script.setAttribute("data-input-position", "top");
  script.setAttribute("data-theme", "preferred_color_scheme");
  script.setAttribute("data-lang", "id");
  script.setAttribute("crossorigin", "anonymous");
  script.async = true;

  document.body.appendChild(script);
</script>